# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Testing
.tox/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.cache

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
