altgraph==0.17.4
binarytree==6.5.1
blinker==1.7.0
cairocffi==1.6.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Flask==3.0.0
fonttools==4.46.0
graphviz==0.20.1
idna==3.6
igraph==0.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.2
packaging==23.2
peewee==3.17.0
pefile==2023.2.7
Pillow==10.1.0
pycparser==2.21
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pyparsing==3.1.1
pyTelegramBotAPI==4.14.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-igraph==0.11.3
pywin32-ctypes==0.2.3
requests==2.31.0
setuptools==69.0.2
setuptools-scm==8.0.4
six==1.16.0
telebot==0.0.5
texttable==1.7.0
typing_extensions==4.8.0
urllib3==2.1.0
Werkzeug==3.0.1
