<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Math Game</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body
style="
background-color: {{ settings.background_color }};
{% if settings.background_image %}
background-image:url('/static/backgrounds/{{ settings.background_image }}');
background-size:cover;
{% endif %}
">


{% if current_profile %}
    <h3>
        👦 Игрок: {{ current_profile.name }} ⭐ {{ current_profile.stars }}
    </h3>
{% endif %}

{% block content %}
{% endblock %}

{% if settings.background_music %}
    <audio
    autoplay
    loop
    volume="{{ settings.background_volume / 100 }}"
    id="background-music">

    <source
    src="{{ url_for('static', filename='music/background.mp3') }}">

    </audio>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script src="{{ url_for('static', filename='js/effects.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {

    let music = document.getElementById("background-music");

    if (music) {
        music.volume = {{ settings.background_volume / 100 }};
    }

});
</script>
</body>
</html>